<!--<ul class="menu">-->
<!--    <li>-->
<!--        <a href="{% url 'main' %}">Главная</a>-->
<!--    </li>-->
<!--    {% for categories in categories_list %}-->
<!--        <li>-->
<!--            <a href="#">{{ categories }}</a>-->
<!--        </li>-->
<!--    {% endfor %}-->
<!--</ul>-->

<ul class="menu">
    <li class="home">
        <a href="{% url 'main' %}">Главная</a>
    </li>
    <li class="design">
        <a href="#">Дизайн</a>
    </li>
    <li class="webDevelopment">
        <a href="#">Веб-разработка</a>
    </li>
    <li class="mobileDevelopment">
        <a href="#">Мобильная разработка</a>
    </li>
    <li class="marketing">
        <a href="#">Маркетинг</a>
    </li>
</ul>