{% load static %}

  <div class="menu">
            <div class="side">
                <div class="buttonAll">
                    <a href="{% url 'main' %}">Все</a>
                </div>
                {#                <div class="sort">#}
                {#                    <div class="title">#}
                {#                        Сортировать#}
                {#                    </div>#}
                {#                    <div class="sortDate">#}
                {#                        <a class="text" href="#"><img src={% static 'img/Calendar.png' %} alt="date"></a>#}
                {#                    </div>#}
                {#                    <div class="sortlike">#}
                {#                        <a class="text" href="#"><img src={% static 'img/like.png' %} alt="like"></a>#}
                {#                    </div>#}
                {#                </div>#}
            </div>
            <div class="side">
                <div class="category">
                    {#                                <div class="categoryTitle">#}
                    {#                                    Выбор категории#}
                    {#                                </div>#}
                    {#                                <select class="categoriItems">#}
                    {#                                    <option value="all">Все категории</option>#}
                    {#                                    <option value="design">Дизайн</option>#}
                    {#                                    <option value="web_development">Веб-разработка</option>#}
                    {#                                    <option value="mobile_development">Мобильная разработка</option>#}
                    {#                                    <option value="marketing">Маркетинг</option>#}
                    {#                                </select>#}
                </div>
                <div class="search">
                    <form method="get" action="{% url 'search' %}">
                        {{ search_form.query }}
                        <button type="submit"></button>
                    </form>
                </div>
            </div>
        </div>