{% load static %}
{#<div class="avatar">#}
{#    <div class="fioLK">#}
{#        <!--        <img src="{% static 'img/image20.png' %}" alt="avatar">-->#}
{#        <div class="round_avatar">#}
{#            <img src={{ user.get_profile.avatar.url }} alt="avatar">#}
{#        </div>#}
{#        <div class="name">#}
{#            {% if user.first_name or user.last_name %}#}
{#                {{article.user.first_name}} {{article.user.last_name}}#}
{#            {% else %}#}
{#                {{user.get_profile.name}}#}
{#            {% endif %}#}
{#        </div>#}
{#    </div>#}
{#    <div class="configLK"><a href="#">#}
{#        <img src="{% static 'img/Config.png' %}" alt="Настройки">Настройки аккаунта</a>#}
{#    </div>#}
{#</div>#}
{#<div class="menuLK">#}
{#    <div class="exitLK"><a href="{% url 'main' %}">#}
{#        <img src="{% static 'img/exit.png' %}" alt="выход">выйти из кабинета</a>#}
{#    </div>#}
{#</div>#}