{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    <div class="main_content container">
        <div class="article">
            <div class="post_header">
                <div class="header_habr">
                    <img src={% static "img/files.png" %} alt="">
                    <p class="content_type">Статья</p>
                    <img src={% static "img/divider.png" %} alt="">
                    <a class="content_topic" href="#">Маркетинг</a>
                </div>
                <h1 class="name_habr">
                    HR statistics: job search, interviews,
                    hiring and recruiting
                </h1>
                <div class="habr_information">
                    <div class="habr_date_creat">
                        <img src={% static "img/Calendar.png" %} alt="">
                        <p class="date">20:16, 06.01.2022</p>
                        <img src={% static "img/watch.png" %} alt="">
                        <p class="time_read">4 min read</p>
                    </div>
                    <div class="habr_share">
                        <p>Share:</p>
                        <a href="#"><img src={% static "img/instagram_article.png" %} alt=""></a>
                        <a href="#"><img src={% static "img/facebook_article.png" %} alt=""></a>
                        <a href="#"><img src={% static "img/twitter_article.png" %} alt=""></a>
                    </div>
                </div>
            </div>
            <div class="image_habr_page">
                <img src={% static "img/image_habr_page.png" %} alt="">
            </div>
            <div class="text_habr_page">
                <p class="text_bold">Vulputate vitae pellentesque scelerisque
                    luctus consequat mattis pellentesque dui odio.
                    Interdum aenean sit malesuada ornare sed gravida rhoncus, congue.
                    Purus auctor nullam diam quis est hendrerit ac euismod.</p>
                <p class="text_normal">At facilisi sapien posuere eget nunc senectus proin nullam. Tortor senectus in et
                    sagittis, vitae diam cras dignissim. Varius adipiscing eget diam nisi. Orci, consectetur vulputate
                    metus ornare pharetra, neque, fermentum. Vel nec rhoncus, non nunc, neque in massa. Feugiat leo nam
                    nisl lacinia amet, odio. Mi varius viverra risus vel.
                    <br>
                    <br>
                    Amet, morbi sed pharetra, elit eget mi potenti. Condimentum orci interdum feugiat lectus libero
                    duis.
                    Nisl massa, elementum varius sit. Nunc felis, porttitor aliquam urna, accumsan et sed.
                    Aliquet non sed duis diam vehicula rhoncus. In dictum nullam tincidunt semper pellentesque purus
                    morbi sed.
                    Ut aliquet velit pharetra, nisi nunc, non.</p>
                <p class="text_bold_quote">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo, amet lectus
                    quam
                    viverra mus lobortis fermentum amet, eu. Pulvinar eu sed purus facilisi. Vitae id turpis tempus
                    ornare turpis quis non. Congue tortor in tot euismod vulputate etiam eros. Vel accumsan at elit
                    neque, ipsum."</p>
                <p class="text_normal">
                    Mauris amet arcu nisl vel dictum tellus. Sed rhoncus, ut sed id ut erat mattis. Vitae mus blandit in
                    neque amet non fringilla blandit:
                    <br>
                    <br>
                    - A fermentum in morbi pretium aliquam adipiscing donec tempus. <br>
                    - Vulputate placerat amet pulvinar lorem nisl. <br>
                    - Consequat feugiat habitant gravida quisque elit bibendum id adipiscing sed. <br>
                    - Etiam duis lobortis in fames ultrices commodo nibh. <br>
                    <br>
                    Enim, vel massa odio diam. Blandit massa gravida feugiat elementum id nec sed leo. Nisi in ornare
                    lectus eget. Urna, risus, consectetur volutpat lorem purus. Velit aliquet nibh vitae maecenas.
                    Consectetur neque ut aliquam eros, purus enim dignissim aenean vitae. Ultrices fames augue mattis
                    tortor est justo, pharetra nibh risus. Facilisi at porttitor volutpat natoque proin amet, nulla.
                    Vivamus ut lobortis sagittis curabitur tellus convallis eget netus vitae.
                </p>
            </div>
            <div class="tags_and_share">
                <div class="tags_habr">
                    <p>Tags:</p>
                    <a href="#">#дизайн</a>
                    <a href="#">#веб-разработка</a>
                    <a href="#">#маркетинг</a>
                </div>
                <div class="habr_info">
                    <p class="info">Likes and comments:</p>
                    <a class="info_img" href="#"><img src={% static "img/like.png" %} alt=""></a>
                    <p class="info">5</p>
                    <a class="info_img" href="#"><img src={% static "img/comment.png" %} alt=""></a>
                    <p class="info">3</p>
                </div>
            </div>
        </div>

        <div class="sidebar">
            <form>
                <input class="search" type="text" placeholder="Искать здесь...">
                <a class="search_button" href="#"><img src={% static "img/search.png" %} alt=""></a>
            </form>
            <div class="author">
                <h6 class="author_title">автор</h6>
                <div class="avatar_and_info">
                    <img class="avatar" src={% static "img/avatar.png" %} alt="">
                    <div class="name_and_share">
                        <h3>Kristin Watson</h3>
                        <p>Curator of Marketing Course</p>
                        <div class="share_author">
                            <a href="#"><img src={% static "img/instagram_article.png" %} alt=""></a>
                            <a href="#"><img src={% static "img/facebook_article.png" %} alt=""></a>
                            <a href="#"><img src={% static "img/twitter_article.png" %} alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="trending_articles">
                <h6 class="trending_articles_title">Популярные статьи:</h6>
                <div class="img_and_info_habr">
                    <img class="img_habr" src={% static "img/image_1_mini.jpg" %} alt="">
                    <div class="info_habr">
                        <div class="habr_date_creat">
                            <img src={% static "img/Calendar.png" %} alt="">
                            <p class="date">20:16, 06.01.2022</p>
                        </div>
                        <a href="#">What is traffic arbitrage and does it really make money?</a>
                    </div>
                </div>
                <div class="img_and_info_habr">
                    <img class="img_habr" src={% static "img/image_2_mini.jpg" %} alt="">
                    <div class="info_habr">
                        <div class="habr_date_creat">
                            <img src={% static "img/Calendar.png" %} alt="">
                            <p class="date">15:30, 01.01.2022</p>
                        </div>
                        <a href="#">Startup: how to build a team that will live longer than a year</a>
                    </div>
                </div>
                <div class="img_and_info_habr">
                    <img class="img_habr" src={% static "img/image_3_mini.jpg" %} alt="">
                    <div class="info_habr">
                        <div class="habr_date_creat">
                            <img src={% static "img/Calendar.png" %} alt="">
                            <p class="date">08:12, 03.01.2022</p>
                        </div>
                        <a href="#">What to do if you want to get feedback on the product</a>
                    </div>
                </div>
            </div>
            <div class="tags_trending">
                <h6 class="trending_articles_title">Tags:</h6>
                <div class="tags">
                    <a href="#">#дизайн</a>
                    <a href="#">#веб-разработка</a>
                    <a href="#">#маркетинг</a>
                    <a href="#">#мобильная разработка</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}