{% extends 'mainapp/base.html' %}
{% load static %}


{% block content %}
    <div class="main">
        <div class="title">
            {{ title }}
        </div>
        <h2><span style="font-size:24px"><strong>Правила портала, которые лучше не нарушать:</strong></span></h2>
        <ul>
            <li><span style="font-size:18px">Первое правило портала, никому не рассказывать о портале (нет)</span></li>
            <li><span style="font-size:18px">Рекламировать ресурсы</span></li>
            <li><span style="font-size:18px">Спамить статьи не несущие никакой смысловой нагрузки</span></li>
            <li><span style="font-size:18px">Заниматься плагиатом</span></li>
            <li><span style="font-size:18px">Путать сайт с жалобной книгой</span></li>
            <li><span style="font-size:18px">Инициировать политические дискуссии и участвовать в них</span></li>
            <li><span style="font-size:18px">Игнорировать правила русского языка, коверкать слова</span></li>
            <li><span style="font-size:18px">Оскорблять других пользователей, не следить за эмоциями</span></li>
        </ul>

        <h2>&nbsp;</h2>

        <h2><span style="font-size:24px"><strong>Регистрация учётной записи.</strong></span></h2>

        <p><span style="font-size:16px">Вы&nbsp;всегда можете пользоваться сайтом в&nbsp;режиме чтения, но&nbsp;регистрация учётной записи откроет перед вами дополнительные возможности, в&nbsp;числе которых:</span>
        </p>

        <ul>
            <li><span style="font-size:16px">возможность создавать статьи и опубликовывать их на сайте</span></li>
            <li><span style="font-size:16px">ставить лайки статьям других пользователей</span></li>
            <li><span style="font-size:16px">оставлять комментарии к статьям</span></li>
            <li><span style="font-size:16px">отвечать на комментарии&nbsp;</span></li>
            <li><span style="font-size:16px">ставить лайки комментариям&nbsp;</span></li>
            <li><span style="font-size:16px">повышать рейтинг авторов</span></li>
            <li><span style="font-size:16px">получать уведомления от других юзеров после лайков, повышения ранга или комментария статьи</span>
            </li>
            <li><span style="font-size:16px">получать уведомления от модераторов.</span></li>
        </ul>

        <p><span style="font-size:16px">В&nbsp;процессе регистрации каждому пользователю необходимо придумать уникальное имя (username), не&nbsp;занятое другими пользователями. После создания аккаунта Вам потребуется заполнить профиль, чтобы открыть возможность создавать и редактировать статьи.&nbsp;<br/>
            В любой момент регистрационный данные и данные профиля можно поменять в личном кабинете.</span></p>

        <p><span style="font-size:16px">Помимо обычных юзеров на нашем сайте присутствуют модераторы, которые контролируют соблюдение правил нашего портала.<br/>
        <strong>Если вы хотите стать модератором, вы должны обратиться к руководству сайта (контакты указаны в футере сайта) и самое главное помнить, чем больше сила - тем больше и ответственность!
            Все инструкции по модерации портола модераторы получат лично!</strong></span>
        </p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <ul>
        </ul>

        <p><strong style="font-size:24px">Создание статьи.</strong></p>

        <p><span style="font-size:16px">При создании статьи вас будет встречать мощный редактор текста.&nbsp;<br/>
            Обратите внимание на размер загружаемых картинок! Они должны быть небольшого разрешения, а так же небольшого размера!<br/>
            Он позволит воплотить все ваши желания по оформлению текста и даже немного больше!</span></p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <h2><span style="font-size:24px"><strong>Система рейтинга.</strong></span></h2>

        <p><span style="font-size:16px">На нашем портале действует система рейтинга статей, а так же система рейтинга для каждого автора (юзера). Получая лайки и собирая комменты под своими статьями рейтинг вашей статьи будет увеличиваться. Рейтинг автора зависит от суммарного рейтинга всех статей автора, ранга автора, а так же от количества лайков под комментариями данного автора.&nbsp;</span>
        </p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <h2><span style="font-size:24px"><strong>Система поиска статей.</strong></span></h2>

        <p><span style="font-size:16px">На нашем портале работает поиск статей по ключевым словам! Алгоритм ищет совпадение сначала в заголовке статьи, затем в подзаголовке и в последнюю очередь в тексте статьи.&nbsp;</span>
        </p>

        <p>&nbsp;</p>

        <p>&nbsp;</p>

        <h2><span style="font-size:24px"><strong>Система сортировки и фильтрации статей.</strong></span></h2>

        <p><span style="font-size:16px">На нашем портале работает система сортировки и фильтрации статей!<br/>
            Вы неприменно оцените этот инструмент, советуем начинать с фильтрации по дате, если этого мало можно отфильтровать и по рейтингу!
            <br>Ну и на закуску, отфильтрованные статьи можно сортировать по убыванию даты, а так же рейтинга.&nbsp;</span><br/>
            &nbsp;</p>
    </div>
{% endblock %}