{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<div class="main">
    <!--Вставка кода для кабинета-->
    <div class="subNavbarLK">
        {% include 'mainapp/includes/inc-submenu_lk.html' %}
    </div>
    <div class="contentLK">
        <div class="mainLK">
            <div class="titleLK">
                Добавление новой статьи
            </div>
            <hr class="profileHrLK" style="height: 1px;background-color: #DBE7FF;color: #DBE7FF;">
            <div class="blokPersonInfoLK">
                <div class="baseInfoBlokLK">
                    <form class="form-horizontal" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="form-control" type="submit" value="сохранить">
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<!--/Вставка кода для кабинета-->
{% endblock %}