{% extends 'mainapp/base.html' %}
{% load static %}


{% block content %}
    <div class="main">
        <div class="title">
            Все публикации
        </div>

        {% include 'mainapp/includes/inc-search-menu.html' %}

        <div class="publications">
            <div class="search-wrapper">
                {% for instance_article in object_list %}


                    <div class="article-search-box">
                        <div class="article-content-search-box">
                            <div class="author-and-date-box">
                                <div class="author">{{ instance_article.user.get_profile.name }}</div>
                                <div class="date">{{ instance_article.created_timestamp }}</div>
                            </div>
                            <div class="article-title-and-text">
                                <div class="article-search-title">{{ instance_article.title }}</div>
                                <div class="article-search-text">{{ instance_article.get_article_text_preview }}</div>
                            </div>
                            <a class="artcle-search-button" href="{% url 'article' instance_article.id %}">Подробнее</a>

                        </div>
                    </div>

                {% endfor %}
            </div>
            <div class="paginator">
                {% if page_obj.has_previous %}
                    <div class="pagLeft">
                        <a href="?page={{ page_obj.previous_page_number }}"><img
                                src={% static 'img/pagLeft.png' %} alt="left"></a>
                    </div>
                {% endif %}

                {% for num_page in page_obj.paginator.page_range %}
                    <div class="pagNum" {% if num_page == page_obj.number %}
                         style="text-decoration: underline" {% endif %}>
                        <a href="?page={{ num_page }}">{{ num_page }}</a>
                    </div>
                {% endfor %}

                {% if page_obj.has_next %}
                    <div class="pagRight">
                        <a href="?page={{ page_obj.next_page_number }}&query=><img
                                src={% static 'img/pagRight.png' %} alt=" right"></a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}