{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<div class="main">
    <!--Вставка кода для кабинета-->
    <div class="subNavbarLK">
        {% include 'mainapp/includes/inc-submenu_lk.html' %}
    </div>
    <div class="contentLK">
        <div class="mainLK">
            <div class="titleLK">
                Редактирование страницы на сайте
            </div>
            <div class="infoLK">
                <div class="infoTextLeftLK">
                    Информацию на этой странице будут видеть пользователи сайта — твои потенциальные
                    клиенты. Отнесись к ее заполнению
                    ответственно.
                </div>
                <div class="infoTextRightLK">
                    <a href="#">Как выглядит моя страница?</a>
                </div>
            </div>
            <div class="profileLK">
                <div class="menuProfileLK">
                    <ul class="menuPrLK">
                        <li class="persInfoLK"><a href="#">Персональная информация</a></li>
                        <!-- <li class="servicesLK"><a href="#">Услуги</a></li>
                        <li class="scheduleLK"><a href="#">Расписание</a></li>
                        <li class="feedbackLK"><a href="#">Отзывы</a></li> -->
                    </ul>

                </div>
                <hr class="profileHrLK" style="height: 1px;background-color: #DBE7FF;color: #DBE7FF;">
                <div class="blokPersonInfoLK">
                    <div class="baseInfoBlokLK">
                        <div class="menuBaseInfoBlokLK">
<!--                            <ul class="menuPrLK">-->
<!--                                &lt;!&ndash; <li class="persInfoLK"><a href="#">Основная информация</a></li> &ndash;&gt;-->
<!--                                <li class="baseInfoTitleLK">Основная информация</li>-->
<!--                            </ul>-->
                            <ul class="userInfo">
                                <li>Логин: {{ user }}</li>
{#                                <hr class="profileHrLK" style="height: 1px;background-color: #DBE7FF;color: #DBE7FF;">#}
                                <li>Почта: {{ user.email }}</li>
                                <li>
                                    <div class="buttonInLk">
                                        <a href="{% url 'user_edit' user.pk %}">Редактировать учётные данные</a>
                                    </div>
                                </li>
                                {% if user.userprofile %}
                                <li>Имя Фамилия: {{ user.userprofile.name }}</li>
                                <li>Возраст: {{ user.userprofile.birthday|date:"M d, Y" }}</li>
                                <li>Краткое описание: {{ user.userprofile.bio }}</li>
                                <li>Аватар:
                                    <div class="infoBlockAvatar">
                                        <img src="/media/{{ user.userprofile.avatar }}" alt="avatar">
                                    </div>
                                </li>
                                <li>
                                    <div class="buttonInLk">
                                        <a href="{% url 'profile_edit' user.userprofile.id %}">Редактировать информацию о себе</a>
                                    </div>
                                </li>
                                {% else %}
                                <li>
                                    <div class="buttonInLk">
                                        <a href="{% url 'profile_add' %}">Заполнить информацию о себе</a>
                                    </div>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
{#                        {% if form.errors %}#}
{#                        <div class="error-text-lk">#}
{#                            {{ form.errors.as_text }}#}
{#                        </div>#}
{#                        {% endif %}#}
                        <hr class="profileHrLK" style="height: 1px;background-color: #DBE7FF;color: #DBE7FF;">

                    </div>
                    <!-- <div class="baseAvatarBlokLK">
                        Картинка
                    </div> -->

                </div>

            </div>
        </div>
    </div>
</div>
<!--/Вставка кода для кабинета-->
{% endblock %}