{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
<div class="main">
    <!--Вставка кода для кабинета-->
    <div class="subNavbarLK">
        {% include 'mainapp/includes/inc-submenu_lk.html' %}
    </div>
    <div class="contentLK">
        <div class="mainLK">
            <div class="titleLK">
                Личный кабинет {% if user.is_staff %} модератора {% endif %}
            </div>
            {% if user.is_staff %}
            <div class="moderator">
                <div class="requests">
                    {% if object_list.0.get_count_new_requests_moderation %}
                    <div class="text">
                        <div class="info">
                            Внимание! Есть новые запросы на модерацию контента:
                        </div>
                        <div class="count">
                            {{object_list.0.get_count_new_requests_moderation}}
                        </div>
                    </div>
                    {% else %}
                    <div class="text noRequests">
                        <div class="info">
                            Нет новых заявок на модерацию
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="new_requests">
                <div class="requests_title">
                    Новые запросы на модерацию
                </div>
                {% for notification in object_list %}
                {% if notification.status == 'N' %}
                <div class="request_wrapper">
                    <div class="info">
                        <div class="article">
                            Запрос на проверку статьи: &nbsp;&nbsp; {{ notification.comment_initiator.article_comment }}
                        </div>
                        <div class="initiator">
                            Запрос от пользователя: &nbsp;&nbsp; {{ notification.comment_initiator.user }}
                        </div>
                    </div>
                    <div class="buttons">
                        <div class="take">
                            <a href="#">Взять на модерацию</a>
                        </div>
                        <div class="watch">
                            <a href="{% url 'article' notification.comment_initiator.article_comment.pk %}">
                                Просмотреть статью
                            </a>
                        </div>
                    </div>
                </div>
                {% endif  %}
                {% endfor %}
            </div>
            {% if user.get_count_notifications_on_moderation  %}
            <div class="new_requests my_request">
                <div class="requests_title">
                    Взятые в работу запросы на модерацию
                </div>
                {% for notification in object_list %}
                {% if notification.responsible_moderator == user %}
                <div class="request_wrapper">
                    <div class="info">
                        <div class="article">
                            Запрос на проверку статьи: &nbsp;&nbsp; {{ object_list.0.comment_initiator.article_comment }}
                        </div>
                        <div class="initiator">
                            Запрос от пользователя: &nbsp;&nbsp; {{ object_list.0.comment_initiator.user }}
                        </div>
                    </div>
                    <div class="buttons">
                        <div class="take">
                            <a href="#">Заблокировать статью</a>
                        </div>
                        <div class="watch">
                            <a href="{% url 'article' object_list.0.comment_initiator.article_comment.pk %}">
                                Просмотреть статью
                            </a>
                        </div>
                    </div>
                </div>
                {% endif  %}
                {% endfor %}
            </div>
             {% endif  %}
            {% else %}
            <div class="infoLK">
                <div class="infoTextLeftLK">
                    Данная страница предназначена для создания и редактирования статей,
                    а так же для внесения и изменения информации о себе.
                </div>
            </div>
            {% endif %}
            <div class="profileLK">
                <div class="blokPersonInfoLK">
                    <div class="baseInfoBlokLK">
                        <div class="menuBaseInfoBlokLK">
                            <ul class="userInfo">
                                <li class="title_lk">Учетные данные</li>
                                <li class="text">Логин:</li>
                                <li> {{ user }}</li>
                                <li class="text">Почта:</li>
                                <li>{{ user.email }}</li>

                                <div class="buttonInLk">
                                    <a href="{% url 'user_edit' user.pk %}">Редактировать учётные данные</a>
                                </div>
                            </ul>
                            <ul class="userInfo">
                                {% if user.userprofile.name %}
                                <li class="title_lk">Информация о себе</li>
                                <li class="text">Имя Фамилия:</li>
                                <li>{{ user.userprofile.name }}</li>
                                <li class="text">Возраст:</li>
                                <li>{{ user.userprofile.birthday|date:"M d, Y" }}</li>
                                <li class="text">Краткое описание:</li>
                                <li>{{ user.userprofile.bio }}</li>
                                <li class="text">Аватар:</li>
                                <li>
                                    <div class="infoBlockAvatar">
                                        <img src="/media/{{ user.userprofile.avatar }}" alt="avatar">
                                    </div>
                                </li>
                                <div class="buttonInLk">
                                    <a href="{% url 'profile_edit' user.userprofile.id %}">Редактировать информацию
                                        о
                                        себе</a>
                                </div>

                                {% else %}

                                <div class="buttonInLk">
                                    <a href="{% url 'profile_edit' user.userprofile.id %}">Заполнить информацию о
                                        себе</a>
                                </div>

                                {% endif %}
                            </ul>
                        </div>
                        <!--                        <hr class="profileHrLK" style="height: 1px;background-color: #DBE7FF;color: #DBE7FF;">-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/Вставка кода для кабинета-->
{% endblock %}